/*Colors*/
/*Footer*/
/*General*/
/*Resets*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

/*Base-General*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/*Header*/
.navbar {
  object-fit: cover;
  object-position: 10px 10px;
  height: 100px; }
  .navbar .col-4 {
    padding-left: 70px; }
    .navbar .col-4 .navbar-brand {
      display: flex;
      justify-content: center; }
      .navbar .col-4 .navbar-brand img {
        width: 70%; }
    .navbar .col-4 .icon-navbar {
      font-size: 23px; }
      .navbar .col-4 .icon-navbar .nav-link {
        color: #321717; }
        .navbar .col-4 .icon-navbar .nav-link:hover {
          color: #ab2020; }
    .navbar .col-4 .btn-group:hover:hover {
      color: #ab2020; }
  .navbar .nav-contacto {
    display: flex;
    align-items: center; }
    .navbar .nav-contacto:hover {
      color: #ab2020 !important; }

/*MediasQR*/
@media (max-width: 500px) {
  .product-slider-heading {
    text-align: center;
    font-size: 1.3rem; }
  .product-slider {
    width: 100%; }
  .product-img a,
  .product-img {
    height: 230px; }
  .product-img a img {
    animation: none; }
  .product-img-back {
    display: none; }
  .product-img-container:hover .product-img-back {
    display: none; }
  .product-img-container:hover .product-img-front {
    display: block; } }

@media (max-width: 400px) {
  .product-img a,
  .product-img {
    height: 190px; }
  w .product-box-offer {
    top: 10px;
    left: 20px; } }

/*Catalogo*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner h1 {
    position: absolute;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    z-index: 11111111;
    letter-spacing: 1px; }
  .banner img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    filter: brightness(20%); }

.p-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 95%; }

.a-a {
  width: 50vh !important;
  height: 30vh !important; }

.glider-contain {
  width: 90% !important; }
  .glider-contain .product-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100% !important;
    padding: 15px;
    margin: 0px 20px;
    position: relative; }
    .glider-contain .product-box .p-discount {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 65px;
      height: 24px;
      color: #ffffff;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      letter-spacing: 1px;
      z-index: 100;
      border-radius: 3px; }
    .glider-contain .product-box .p-img-container {
      object-fit: contain;
      width: 30vh;
      height: 40vh; }
      .glider-contain .product-box .p-img-container .p-img a img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain; }
    .glider-contain .product-box .p-box-text {
      width: 100%;
      align-items: center;
      text-align: center; }
      .glider-contain .product-box .p-box-text .product-title {
        width: 100%;
        overflow: hidden !important;
        color: #333333;
        font-weight: 600;
        transition: all ease 0.3s;
        text-decoration: none; }
        .glider-contain .product-box .p-box-text .product-title:hover {
          color: #111111;
          opacity: 0.7;
          transition: all ease 0.3s; }
      .glider-contain .product-box .p-box-text .price-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 8px; }
        .glider-contain .product-box .p-box-text .price-buy .p-price {
          font-size: 1.3rem;
          color: #333333;
          font-weight: 700; }
        .glider-contain .product-box .p-box-text .price-buy .p-buy-btn {
          color: #ab2020;
          margin: 0px 5px;
          font-weight: 500;
          text-decoration: none; }
          .glider-contain .product-box .p-box-text .price-buy .p-buy-btn:hover {
            text-decoration: underline; }

.p-img a,
.p-img {
  width: 100%;
  height: 300px;
  display: flex; }

.row-main {
  margin-right: 0;
  display: flex;
  justify-content: center; }
  .row-main .shoes-section {
    width: 45%;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .row-main .shoes-section img {
      filter: brightness(30%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 0px 0px;
      transition: transform 0.3s; }
    .row-main .shoes-section p {
      font-size: 50px;
      z-index: 111111;
      color: white;
      position: absolute; }
    .row-main .shoes-section:hover {
      transform: scale(1.004); }
  .row-main .t-shirts-section {
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .row-main .t-shirts-section img {
      filter: brightness(30%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 0px 0px;
      transition: transform 0.3s; }
    .row-main .t-shirts-section p {
      font-size: 50px;
      color: white;
      position: absolute;
      z-index: 111111; }
    .row-main .t-shirts-section:hover {
      transform: scale(1.004); }
  .row-main .hoddie-section {
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .row-main .hoddie-section img {
      filter: brightness(30%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 0px 0px;
      transition: transform 0.3s; }
    .row-main .hoddie-section p {
      font-size: 50px;
      color: white;
      z-index: 111111;
      position: absolute; }
    .row-main .hoddie-section:hover {
      transform: scale(1.004); }

/*Sales*/
.sale {
  font-size: 14px;
  background-color: black;
  text-align: center;
  padding: 9px 2rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0; }

/*Details*/
.row.details {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 !important; }

.col-md-6 {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .col-md-6 h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 100%;
    font-weight: 400; }
  .col-md-6 .small-h2 {
    margin: 50px 0px;
    text-align: center; }

.button {
  width: 50px;
  height: 30px; }

.btn-cart {
  background-color: black;
  color: white;
  width: 80%;
  height: 50px;
  margin-bottom: 8px; }
  .btn-cart:hover {
    color: black; }

.btn-buy {
  background-color: #ab2020;
  width: 80%;
  height: 50px;
  margin-top: 8px;
  color: white; }
  .btn-buy:hover {
    color: black; }

/*Filter Products*/
.banner-products {
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner-products h1 {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    z-index: 11111111;
    letter-spacing: 1px; }
  .banner-products img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    filter: brightness(50%); }

.row {
  display: flex;
  justify-content: center; }
  .row .col-md-4 {
    width: 35vh; }
  .row .col-lg-3 {
    padding: 50px; }
    .row .col-lg-3 h6 {
      border-radius: 20px;
      font-size: 40px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.534);
      color: black; }
    .row .col-lg-3 h5 {
      margin: 25px 0px;
      border-bottom: 1px solid; }

.text-center {
  margin-top: 50px !important; }

.card-body {
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.card-deck {
  width: 35vh;
  margin: 10px; }

.card-img-top {
  cursor: pointer; }

#textChange {
  font-size: 4vh; }

.text-price {
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .text-price .card-title {
    text-align: center; }

.card {
  height: 30vh;
  width: 30vh; }
  .card .card-img-top {
    height: 50%;
    object-fit: contain; }
