/*Base-Colors*/
/*Base*/
/*Resets*/
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*Base-General*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Base-Bkg-General*/
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: brightness(70%);
}

.stretch {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Layout-Footer*/
.footer {
  background-color: rgba(250, 246, 246, 0.158);
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer footer h4 {
  height: 30px;
}

.footer .text-center {
  display: flex;
  justify-content: center;
}

.footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: black;
  background-color: #aee710;
  font-weight: 500;
  border: 1px solid black;
}

.btn:hover {
  background-color: brown;
  color: #aee710;
  border: 1px solid black;
}

.btn-footer {
  color: black;
  background-color: #aee710;
  font-weight: 600;
  border: 1px solid black;
}

/*Layout-Header*/
.navbar .navbar-brand img {
  width: 100px;
}

.navbar .container-fluid {
  margin: 10px 0px;
  padding: 10px;
  background-color: #0d1006b0;
}

.navbar .container-fluid .navbar-mov {
  background-color: rgba(0, 0, 0, 0.774);
}

.navbar .container-fluid .navbar-mov:focus {
  box-shadow: none;
}

.navbar .container-fluid .container-navbar {
  display: flex;
  justify-content: space-around;
}

.navbar .container-fluid .container-navbar .navbar-nav .nav-item-tienda {
  border-radius: 15px;
  background-color: #aee710;
  color: black;
  font-weight: 900;
  transform: skew(0);
}

.navbar .container-fluid .container-navbar .navbar-nav .nav-item-tienda {
  border-radius: 10px;
  background-color: #aee710;
  transform: skew(-5deg);
  color: black;
  font-weight: 900;
}

.navbar .container-fluid .container-navbar .navbar-nav .navbar-text {
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px;
}

.navbar .container-fluid .container-navbar .navbar-nav .navbar-text:hover {
  border-bottom: 2px solid #aee710;
  color: #aee710;
}

.navbar .container-fluid .container-navbar .navbar-nav .nav-item .nav-link-tienda {
  color: black !important;
}

.navbar .container-fluid .container-navbar .navbar-nav .nav-item .nav-link {
  color: #ffff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

nav {
  align-items: 0 !important;
}



/*Pages-Tienda*/
.slide img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 50px;
}

.container-row .container-card {
  border: 1px solid white;
  margin: 10px;
  border-radius: 5px;
}

.container-row .container-card :hover {
  background-color: white;
}

.container-row .container-card .card-body {
  transform: skew(-4deg);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.container-search-menu {
  background: black;
  background: black;
  background: linear-gradient(186deg, rgba(0, 0, 0, 0.851978) 10%, black 33%, black 49%, rgba(0, 0, 0, 0.851978) 59%, #1a220d 71%, rgba(74, 97, 36, 0.891194) 100%);
}

.container-search-menu .container-search-tienda {
  background-color: rgba(155, 185, 71, 0.075);
  padding: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container-search-menu .container-search-tienda .container-search {
  display: flex;
  align-items: center;
}

.container-search-menu .container-search-tienda .container-select {
  border: 2px solid #aee710;
}

.container-search-menu .container-search-tienda span {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 20px;
  text-align: center;
  color: #aee710;
}

.container-search-menu .container-search-tienda form select {
  min-width: 150px;
  border-radius: 10px;
  height: 40px;
  transform: skew(-10deg);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-inline: 8px;
}

.container-search-menu .container-search-tienda input {
  min-width: 150px;
  border-radius: 10px;
  height: 40px;
  transform: skew(-10deg);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 800;
  margin-left: 8px;
  background-color: #ee1010;
  font-weight: 900;
}

.p-3 {
  padding: 4px !important;
}

/*Media-Quieries*/
@media screen and (max-width: 992px) {
  .col-nav {
    width: none !important;
  }

  .carousel-inner {
    width: 100%;
    height: 500px;
  }

  .slide img {
    width: 100%;
    height: 500px;
    object-position: center 0px;
  }

  .container-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .container-search-tienda span {
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    margin-right: 0;
  }

  .container-search-tienda form select {
    margin: 6px;
    transform: none;
  }

  .container-search-tienda form input {
    margin: 10px 0px;
    color: white;
    background-color: rgba(255, 0, 0, 0.979);
    transform: none;
    margin-left: 0;
  }

  .text-center {
    padding: 10px !important;
  }

  .navbar-text {
    transform: none;
    border-radius: 10px;
    border-bottom: none;
    text-align: center;
  }

  .navbar-text:hover {
    transform: skew(-5deg);
  }

  .row-navbar {
    display: flex;
    justify-content: center;
    width: 0%;
  }

  .historia-container .historia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .historia-container img {
    width: 330px;
    height: 350px;
    object-fit: cover;
    object-position: 0 1px;
  }

  .historia-container p {
    margin-top: 20px;
    width: 350px;
    height: 100%;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .form-contact .form {
    margin-top: 40px;
    width: 90%;
    text-align: center;
  }

  .form-contact .form .text-form h2 {
    margin: 15px;
  }

  .nav-item-tienda {
    transform: none;
  }
}

@media screen and (max-width: 870px) {
  .garage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .garage-container .contenedor-garage {
    width: 80%;
  }
}

@media screen and (max-width: 1130px) {
  .historia-container .historia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .historia-container img {
    width: 330px;
    height: 350px;
    object-fit: cover;
    object-position: 0 1px;
  }

  .historia-container p {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
}