/*Resets*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Base-General*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


