@media (max-width: 500px) {
  .product-slider-heading {
    text-align: center;
    font-size: 1.3rem;
  }
  .product-slider {
    width: 100%;
  }
  .product-img a,
  .product-img {
    height: 230px;
  }

  .product-img a img {
    animation: none;
  }
}
@media (max-width: 400px) {
  .product-img a,
  .product-img {
    height: 190px;
  }
  w .product-box-offer {
    top: 10px;
    left: 20px;
  }
}
