.sale {
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 9px 2rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0;
}